<div id="wrapper">


  <div id="mainmenu">
    <ul>
      <li ><a *ngIf="!_service.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a></li>
      <li ><a *ngIf="!_service.loggedIn()" routerLink="/registration" routerLinkActive="active">Register</a></li>
      <li ><a routerLink="/voli" routerLinkActive="active">Voli</a></li>
      <a class="nav-link" style="cursor:pointer" *ngIf="_service.loggedIn()" (click)="_service.logoutUser()">Logout</a>        

    </ul> 
  </div> 
  
</div>

<router-outlet></router-outlet>            
