<div>
    <form>
        <div>
            <label>Nome</label>
            <input type="text" [(ngModel)]="userRegistration.nome" name="nome">
        </div>
        <div >
            <label>Cognome</label>
            <input type="text" [(ngModel)]="userRegistration.cognome" name="cognome">
        </div>
        <div>
            <label >Username</label>
            <input type="text" [(ngModel)]="userRegistration.email" name="email" >
        </div>
        <div>
            <label>Password</label>
            <input type="password" [(ngModel)]="userRegistration.password" name="password">
        </div>
        <button type="button" (click)="registration()">Register</button>
    </form>
   
</div>
